{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="cardC p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
          <button class="btnB">
            <img src="uploads/{{app.user.image}}" id="profil" alt="">
          </button>

          <span class="name mt-3">{{ app.user.nom }} {{ app.user.prenom }}</span>
          <span class="idd">{{ app.user.email }}</span>
          <span class="idd">{{ app.user.adresse }}</span>

          <div class=" d-flex mt-2">
            <a href="#"><button class="btn1">Edit Profile</button></a>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
