<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="assets/image/LogoThomas.png">
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <header style="margin-bottom: 2%;">
        {# Nav Bar #}
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a href="#"><img src="{{asset('assets/image/LogoThomas.png')}}" alt="" class="Logo"></a>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="toggleMobileMenu">
                    <ul class="navbar-nav navbar__links">
                        <li class="nav-item item navbar__link">
                            <a class="nav-link" aria-current="page" href="{{path('accueil')}}">Accueil</a>
                        </li>

                        <ul class="navbar-nav item espace">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gourmandises</a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{{path('gourmandises')}}">Macarons</a></li>
                                    <li><a class="dropdown-item" href="{{path('gourmandises')}}">Chocolats</a></li>
                                    <li><a class="dropdown-item" href="{{path('gourmandises')}}">Confiseries</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown calibrage navbar__link">
                                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produits</a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Boulangerie</a></li>
                                    <li><a class="dropdown-item" href="#">Les Signatures</a></li>
                                    <li><a class="dropdown-item" href="#">Les Grands Classiques</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown calibrage navbar__link">
                                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Traiteur</a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Réception Sucrée</a></li>
                                    <li><a class="dropdown-item" href="#">Réception Salée</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown calibrage navbar__link">
                                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Click & Collect</a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Commande</a></li>
                                </ul>
                            </li>
                        </ul>

                        <li class="nav-item item navbar__link" id="esp">
                            <a class="nav-link" href="{{path('contact')}}">Contact</a>
                        </li>

                        <li class="nav-item dropdown navbar__link">
                            <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="Icone" src="{{asset('assets/image/icons8-utilisateur-96.png')}}" alt=""></a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Connexion</a></li>
                                <li><a class="dropdown-item" href="#">Inscription</a></li>
                                <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                            </ul>
                        </li>

                        <li class="nav-item navbar__link">
                            <a class="nav-link" href="#"><img class="Icone" src="{{asset('assets/image/icons8-panier-64.png')}}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>

            <button class="burger">
                <span class="bar"></span>
            </button>
        </nav>
    </header>

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container-fluid Footer">
            <div class="row">
                <div class="col-4 d-flex justify-content-start">
                    <a href="#"><img src="{{asset('assets/image/LogoThomas.png')}}" alt="Logo Paradis" class="Logo LogoF"></a>
                </div> 
                <div class="col-4 d-flex align-items-center justify-content-center pF">
                    <div class="col-5">
                        <a>CGU - Mention Légales</a>
                    </div>
                    <div class="col-7">
                        <a href="https://www.google.com/maps/place/1+Place+St+Louis,+57000+Metz/@49.1171346,6.1784912,18z/data=!4m5!3m4!1s0x4794dc1d0825cd0b:0x8c0c8da8d813a061!8m2!3d49.1172216!4d6.1788922" target="_blank" style="text-decoration: none;"><img src="{{asset('assets/image/icons8-marqueur-64.png')}}" alt="Icone Maps" style="width: 10%;"> 1 Place Saint Louis 57000 Metz</a>
                    </div>
                </div> 
                <div class="Icone">
                    <div class="col-4 d-flex align-self-center justify-content-end" target="_blank">
                        <a href="https://fr-fr.facebook.com/" target="_blank"><img src="{{asset('assets/image/icons8-facebook-64.png')}}" alt="Icone Facebook" class="IconeR Facebook"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="{{asset('assets/image/icons8-instagram-64.png')}}" alt="Icone Instagram" class="IconeR Instagram"></a>
                        <a href="https://www.youtube.com/" target="_blank"><img src="{{asset('assets/image/icons8-lecture-de-youtube-64')}}.png" alt="Icone Youtube" class="IconeR Youtube"></a>           
                    </div>
                    <div class="Drap">
                        <a href=""><img src="{{asset('assets/image/icons8-france-64.png')}}" alt="" class="Drapeau DrapeauF"></a>
                        <a href=""><img src="{{asset('assets/image/icons8-grande-bretagne-64.png')}}" alt="" class="Drapeau DrapeauAG"></a>
                        <a href=""><img src="{{asset('assets/image/icons8-allemagne-64.png')}}" alt="" class="Drapeau DrapeauD"></a>           
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {# Link JS Bootstrap #}
    <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/js/scripts.js')}}"></script>
</body>
</html>